name: Deploy to EKS

on:
  push:
    branches:
      - master
 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to AWS EKS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
     
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker image from Docker Hub
        run: docker pull praggya/myflaskapp:latest

      - name: Tag Docker image for EKS
        run: docker tag  praggya/myflaskapp:latest devopscluster.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/myflaskapp:latest
      - name: Push Docker image to EKS
        run: docker push  devopscluster.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/myflaskapp:latest

      - name: Deploy to EKS
        run: |
          # Use kubectl to apply your Kubernetes manifests to the EKS cluster
          kubectl apply -f app/deployment.yml
